body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

.team1-heading {
    font-weight: bold;
}

.team2-heading {
    font-weight: bold;
}

.player {
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
}

.team-player {
    font-weight: bold;
}

.score {
    margin-top: 20px;
}

.score-heading {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.score-input {
    width: 30px;
}

.team-div {
    border-radius: 5px;
    border: 4px solid white;
    padding: 10px;
}

#team1 {
    color: white;
    margin-top: 30px;
    background-color: blue;
}

#team2 {
    color: white;
    margin-top: 40px;
    background-color: red;
}

.add-own-goal,.add-goal {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.player-table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}

#goal-history {
    margin-top: 20px;
}

.goal-history-entry {
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

.goal-history-entry-text {
    position: relative;
    left: 9px;
    top: -10px;
    color: white;
}

.goal-history-entry-delete {
    cursor: pointer;
}

.goal-history-player-team1 {
    background-color: blue;
}

.goal-history-player-team2 {
    background-color: red;
}


img.goal-history-entry-delete {
//    margin-right: 10px;
//    margin-bottom: -8px;
}
