{% extends "/templates/base.html" %}
{% block title %}Spieler hinzufügen{% endblock %}

<h1>Spieler hinzufügen</h1>

{% block body %}
<form action="/add_player" method="post">
    Spielername: <input type="text" name="name"><br>
    <input type="submit" value="Speichern">
</form>
<br>

{% if error %}
<div style="color: red; font-weight: bold;">
    {{ error }}
    <br><br>
</div>
{% endif %}

{% if added_player %}
Spieler hinzugefügt: <b>{{ added_player.name|escape }}</b><br><br>
{% endif %}

<a href="/">Zurück</a>
{% endblock %}
