{% extends "/templates/base.html" %}
{% block title %}Spiel hinzufügen{% endblock %}

{% block body %}

<h1>Spiel hinzufügen</h1>

<p>Spieler der Reihe nach auswählen, Ergebnis eintragen, abschicken! <b>+</b> Bedeutet "Spieler hat Tor geschossen", <b>-</b> bedeutet "Spieler hat Eigentor geschossen".</p>

<script>
    $(document).ready(function() {
        goalHistory = [];

        function resetGoals() {
            $("#team1-score,#team2-score").html("0");
            $(".add-goal,.add-own-goal").attr('data-goal-count', '0');
        }

        function clearGoalHistoryLog() {
            $("#goal-history-entries").html('');
        }

        function resetGame() {
            $(".player").show();
            $(".team-player").each(function() {
                $(this).attr('data-player-id', '');
                $(".player-name", this).html('');
            });

            resetGoals();
            clearGoalHistoryLog();
            goalHistory = [];
        }

        function getNextFreePlayerPos() { 
            var nextFreePlayerElem = undefined;
            $(".team-player").each(function() {
                if ($(this).attr('data-player-id') === '') {
                    nextFreePlayerElem = $(this);
                    return false;
                }
            });
            return nextFreePlayerElem;
        }

        function submitScore() {
            // TODO: fehlerbehandlung, falls information fehlt

            var playerTeam1AttackId = $("#team1-player-attack").attr('data-player-id');
            var playerTeam1DefenseId = $("#team1-player-defense").attr('data-player-id');
            var playerTeam2AttackId = $("#team2-player-attack").attr('data-player-id');
            var playerTeam2DefenseId = $("#team2-player-defense").attr('data-player-id');
            
            var goalsTeam1Attack = parseInt($("#team1-player-attack .add-goal").attr('data-goal-count'), 10);
            var goalsTeam2Attack = parseInt($("#team2-player-attack .add-goal").attr('data-goal-count'), 10);
            var goalsTeam1Defense = parseInt($("#team1-player-defense .add-goal").attr('data-goal-count'), 10);
            var goalsTeam2Defense = parseInt($("#team2-player-defense .add-goal").attr('data-goal-count'), 10);

            var ownGoalsTeam1Attack = parseInt($("#team1-player-attack .add-own-goal").attr('data-goal-count'), 10);
            var ownGoalsTeam2Attack = parseInt($("#team2-player-attack .add-own-goal").attr('data-goal-count'), 10);
            var ownGoalsTeam1Defense = parseInt($("#team1-player-defense .add-own-goal").attr('data-goal-count'), 10);
            var ownGoalsTeam2Defense = parseInt($("#team2-player-defense .add-own-goal").attr('data-goal-count'), 10);


            $.post('/add_game', { 
                player_team1_attack_id: playerTeam1AttackId,
                player_team1_defense_id: playerTeam1DefenseId,
                player_team2_attack_id: playerTeam2AttackId,
                player_team2_defense_id: playerTeam2DefenseId,
                goals_team1_attack: goalsTeam1Attack,
                goals_team2_attack: goalsTeam2Attack,
                goals_team1_defense: goalsTeam1Defense,
                goals_team2_defense: goalsTeam2Defense,
                own_goals_team1_attack: ownGoalsTeam1Attack,
                own_goals_team2_attack: ownGoalsTeam2Attack,
                own_goals_team1_defense: ownGoalsTeam1Defense,
                own_goals_team2_defense: ownGoalsTeam2Defense,

                }, 
                function() { 
                    alert("Erfolgreich eingefügt."); 
                    window.location.href = '/';
                }
            );
        }

        function processGoalHistory() {
            function incrementPlayerGoals(addGoalElem) {
                var curGoalCount = parseInt($(addGoalElem).attr('data-goal-count'), 10);
                $(addGoalElem).attr('data-goal-count', curGoalCount + 1);
            }

            function incrementTeamScore(playerElemId, isOwnGoal) {
                var scoreSpanId;
                if (playerElemId.match(/^team1/)) {
                    scoreSpanId = isOwnGoal ? "team2-score" : "team1-score";
                } else {
                    scoreSpanId = isOwnGoal ? "team1-score" : "team2-score";
                }

                var curScoreCount = parseInt($('#' + scoreSpanId).html(), 10);
                $('#' + scoreSpanId).html(curScoreCount + 1);

            }

            function addGoalHistoryEntry(goalIndex, playerElemId, playerName, isOwnGoal) {
                var goalText = (!isOwnGoal ? "Tor" : "Eigentor") + " von " + playerName + ".";
                var goalHistoryEntryClass = "goal-history-entry";

                if (playerElemId.match(/^team1/)) {
                    goalHistoryEntryClass += " goal-history-player-team1";
                } else {
                    goalHistoryEntryClass += " goal-history-player-team2";
                }

                $("#goal-history-entries").append('<div class="' + goalHistoryEntryClass + '" data-goal-history-index="' + goalIndex + '"><img class="goal-history-entry-delete" src="/static/img/icon_cross.png"><span class="goal-history-entry-text">' + goalText + '</span></div>');
            }

            resetGoals();
            clearGoalHistoryLog();

            $.each(goalHistory, function(goalIndex, goal) {
                var isOwnGoal = goal['isOwnGoal'];
                var playerElemId = goal['playerElemId'];

                var playerElem = $('#' + playerElemId);
                var addGoalElemClass = isOwnGoal ? ".add-own-goal" : ".add-goal";
                var addGoalElem = $(addGoalElemClass, playerElem);
                var playerName = playerElem.find('.player-name').text();
                
                incrementPlayerGoals(addGoalElem);
                incrementTeamScore(playerElemId, isOwnGoal);
                addGoalHistoryEntry(goalIndex, playerElemId, playerName, isOwnGoal);
            });
        }

        function addGoal(addGoalElem, isOwnGoal) {
            // TODO: check if all players are added before adding to goalHistory

            var playerId = $(addGoalElem).parents(".team-player").attr('data-player-id');
            var playerName = $(".player-name", $(addGoalElem).parents(".team-player")[0]).text();
            var playerElemId = $(addGoalElem).parents(".team-player").attr('id');

            goalHistory.push({
                isOwnGoal: isOwnGoal,
                playerElemId: playerElemId});
            
            processGoalHistory();
        }

        $(".player").click(function() {
            var playerId = $(this).attr('data-player-id');
            var nextFreePlayerElem = getNextFreePlayerPos();

            if (typeof nextFreePlayerElem !== "undefined") {
                $(".player-name", nextFreePlayerElem).html($(this).html());
                nextFreePlayerElem.attr('data-player-id', playerId);
                $(".add-goal,.add-own-goal", nextFreePlayerElem).attr('data-goal-count', 0);
                $(this).hide();
            }

        });

        $("button#reset-game").click(function() {
            resetGame();
        });

        $("button#submit-score").click(function() {
            submitScore();
        });
        
        $(".add-goal").click(function() {
            addGoal(this, false);
        });

        $(".add-own-goal").click(function() {
            addGoal(this, true);
        });

        $(".goal-history-entry-delete").live('click', function() {
            var goalHistoryIndex = parseInt($(this).parents(".goal-history-entry").attr('data-goal-history-index'), 10);

            goalHistory.splice(goalHistoryIndex, 1);
            processGoalHistory();
        });

        resetGame();
    });
</script>

<button id="reset-game">Spiel zurücksetzen</button>

<ul class="player-list" id="player-list">
{% for player in players %}
    <li class="player" data-player-id="{{ player.key().id()|escape }}">{{ player.name|escape }}</li> 
{% endfor %}
</ul>

<div style="text-align: center">
    <div class="team-div" id="team1">
        <span class="team1-heading">Team 1</span><br>
        <table class="player-table"> 
            <tr>
                <td>Angriff:</td>
                <td>
                    <span class="team-player" id="team1-player-attack" data-player-id="">
                        <span class="add-own-goal" data-goal-count="0"><img src="/static/img/icon_minus.png"></span>
                        <span class="player-name"></span>
                        <span class="add-goal" data-goal-count="0"><img src="/static/img/icon_plus.png"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Verteidigung:</td>
                <td>
                    <span class="team-player" id="team1-player-defense" data-player-id="">
                        <span class="add-own-goal" data-goal-count="0"><img src="/static/img/icon_minus.png"></span>
                        <span class="player-name"></span>
                        <span class="add-goal" data-goal-count="0"><img src="/static/img/icon_plus.png"></span>
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div class="team-div" id="team2">
        <span class="team2-heading">Team 2</span><br>
        <table class="player-table"> 
            <tr>
                <td>Angriff:</td>
                <td>
                    <span class="team-player" id="team2-player-attack" data-player-id="">
                        <span class="add-own-goal" data-goal-count="0"><img src="/static/img/icon_minus.png"></span>
                        <span class="player-name"></span>
                        <span class="add-goal" data-goal-count="0"><img src="/static/img/icon_plus.png"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Verteidigung:</td>
                <td>
                    <span class="team-player" id="team2-player-defense" data-player-id="">
                        <span class="add-own-goal" data-goal-count="0"><img src="/static/img/icon_minus.png"></span>
                        <span class="player-name"></span>
                        <span class="add-goal" data-goal-count="0"><img src="/static/img/icon_plus.png"></span>
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div class="score">
        <div class="score-heading">Ergebnis</div>

        <span class="team1-heading" style="margin-right: 15px; color: blue">Team 1</span>
        <span id="team1-score"></span>
        <span class="score-delim">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
        <span id="team2-score"></span>
        <span class="team2-heading" style="margin-left: 15px; color: red">Team 2</span>
    </div>
    
    <br>
    <button id="submit-score">Speichern</button>
</div>

<div id="goal-history">
    <span style="font-weight: bold; font-size: 20px">Tor-Historie</span>
    
    <div id="goal-history-entries"></div>
</div>


<br><a href="/">Zurück</a>

{% endblock %}

