<!doctype html>
<html>
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link type="text/css" rel="stylesheet" href="/static/css/main.css"></link>

        <script src="/static/js/jquery-1.7.2.min.js"></script>

        <title>{% block title %}{% endblock %} - KIT-Kicker</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>

