{% extends "/templates/base.html" %}
{% block title %}Start{% endblock %}

{% block body %}
<h1>Kickern!</h1>
<a href="/add_player">Spieler hinzufügen</a><br><br>
<a href="/add_game">Spiel hinzufügen</a><br><br>
<a href="/results">Ergebnisse</a>
{% endblock %}
