{% extends "/templates/base.html" %}
{% block title %}Ergebnisse{% endblock %}

{% block body %}
<h1>Ergebnisse</h1>

<div><b>Bisher geschossene Tore: </b> {{goals_shot|escape}}</div>
<div><b>Angenommen 9 Bälle kosten 50ct, dann sind das bisher {{costs_euro|escape}}€!</b></div>

<h2>Spieler-Ranking</h2>

<table border="1">
    <tr style="font-weight: bold;">
        <td>Name</td><td>Gespielt</td><td>Gewonnen</td><td>Quotient</td>
    </tr>
        {% for player in players_by_won_games %}
        <tr>
            <td>{{ player.name|escape }}</td>
            <td>{{ player.get_num_played()|escape }}</td>
            <td>{{ player.get_num_won()|escape }}</td>
            <td>{{ player.get_quotient()|escape }}</td>

        </tr>
        {% endfor %}
</table>

<h2>Spiele</h2>
<table border="1">
    <tr style="font-weight: bold;">
        <td>Datum</td><td>Blau</td><td>Ergebnis</td><td>Rot</td>
    </tr>
    {% for game in games %}
    <tr>
        <td>{{ game.played|escape }}</td>
        <td>{{ game.team1_attack_player.name|escape }}, {{ game.team1_defense_player.name|escape }}</td>

        <td style="text-align: center;">{{ game.get_team1_score()|escape }} - {{ game.get_team2_score()|escape }}</td>
        <td>{{ game.team2_attack_player.name|escape }}, {{ game.team2_defense_player.name|escape }}</td>
    </tr>
    {% endfor %}
</table>

<br><a href="/">Zurück</a>


{% endblock %}

